@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a href="Doctor">List Of Doctor</a>
</div>
<div>
    <a href="Patient">List Of Patient</a>
</div>
<div>
    <a href="Appointment">List Of Appointments</a>
</div>

